<h1><%= link_to("Пользователи", users_path) %> &raquo; <%= @user.email %></h1>

<hr/>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Роль:</strong>
  <!-- <%#= @user.role.name %> -->
  ???
</p>