<h1>Проекты</h1>

<hr/>

<p>
  <%= link_to("Создать проект", new_project_path) %> | 
  <%= link_to("Пользователи", users_path) %>
</p>

<hr/>

<% if @projects.any? %>
  <% @projects.each do |project| %>
    <div>
      <h4><%= project.name %></h4>
      <p><%= project.description %></p>
    </div>
  <% end %>
<% else %>
  <p>У вас пока нет проектов.</p>
<% end %>